﻿@using WebCilindros.Models

@model MdlLogin

@{
    ViewBag.Title = "Login";
}

    <form method="POST">
        <input type="hidden" value="@ViewBag.Donde" id="HdnDonde" />

        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    <h4>Digite un Usuario y contraseña para Iniciar Sesión.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.User, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.User, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>


<script>
    var urlLogin = '@Url.Content("~/Account/Login")';
    var urlInicio = '@Url.Content("~/Recepcion/Index")';

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 13)
            Inicia();
    }

    function Inicia() {
        var sigue = true;

        if ($("#User").val() == "") {
            $("#User_validationMessage").text("Usuario Obligatorio");
            $("#User_validationMessage").removeClass("field-validation-valid");
            $("#User").css("border-color", "#b94a48");
            sigue = false;
        }

        if ($("#Password").val() == "") {
            $("#Password_validationMessage").text("Contraseña Obligatoria");
            $("#Password_validationMessage").removeClass("field-validation-valid");
            $("#Password").css("border-color", "#b94a48");
            sigue = false;
        }

        if (sigue) {
            $("#fondo").removeClass("oculto");
            var array = {
                User: $("#User").val(),
                Password: $("#Password").val()
            };
            console.log(array);
            $.ajax({
                type: "POST",
                url: urlLogin,
                data: {
                    model: array, returnUrl: null, donde: $("#HdnDonde").val()
                },
                cache: false,
                dataType: 'json',
                success: function (result) {
                    if (result.result == 'OK') {
                        console.log(result.redir);
                        if (result.redir != "") {
                            window.location.href = result.redir;
                        } else {
                            window.location.href = urlInicio;
                        }
                    }
                    else {
                        $("#fondo").addClass("oculto");
                        $("#LblMsg").text(result.result);
                        $("#myModMsg").css("display", "block");
                    }
                }
            });
        }
    }
</script>
