﻿@using WebCilindros.Models

@model MdlLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body style="background-color:@System.Configuration.ConfigurationManager.AppSettings["BackApp"];overflow:hidden;">
    <form method="POST">
        <input type="hidden" value="@ViewBag.Donde" id="HdnDonde" />

        <div class="row" style="width:470px;">
            <div class="col-md-8">
                <section id="loginForm">
                    <h4>Digite un Usuario y contraseña para Iniciar Sesión.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.User, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.User, new { @class = "form-control", @style = "max-width:400px;" })
                            @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "max-width:400px;" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
</body>
</html>
