﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Default.aspx.vb" Inherits="BSSAspDebug._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

<table>
  <tr>
    <td>Login&nbsp;</td> 
    <td><input id="login" type="text" name="login" />&nbsp;</td> 
  </tr>
 
  <tr>
    <td>Password&nbsp;</td> 
    <td><input id="password" type="password" name="password" />&nbsp;</td> 
  </tr>
</table>


    <asp:Button ID="Button1" runat="server" Text="Login" />

        <br />
        <asp:Button ID="Button2" runat="server" Text="Menu" />

    </form>
</body>
</html>
