﻿@model BSSReportesPDF.Models.DosQueries

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @if (Model != null)
    {
        <table border="1">
            @foreach (var item in Model.parametro1)
            {
                <tr>
                    <th>Tabla</th>
                    <th>Código</th>
                    <th>Valor</th>
                </tr>
                <tr>
                    <td>@item.CCTABL</td>
                    <td>@item.CCCODE</td>
                    <td>@item.CCNOT1</td>
                </tr>

            }
        </table>
        <table border="1">
            @foreach (var item in Model.parametro2)
            {
                <tr>
                    <th>Tabla</th>
                    <th>Código</th>
                    <th>Valor</th>
                </tr>
                <tr>
                    <td>@item.CCTABL</td>
                    <td>@item.CCCODE</td>
                    <td>@item.CCNOT1</td>
                </tr>

            }
        </table>

    }
</body>
</html>
