﻿
@{
    ViewBag.Title = "Productos";
}

<h3>@ViewBag.Title</h3>

<div>
    @(Html.EJ().Grid<RequisicionesCore.Entities.RIIMC>("Grid")
        .Datasource(ds => ds.URL(@Url.Content("~/Productos/DSProductos")).Adaptor(AdaptorType.UrlAdaptor))
        .EnableAltRow()
        .AllowReordering()
        .AllowResizeToFit(true)
        .AllowResizing()
        .AllowFiltering()
        .AllowSorting()
        .Locale("es-CO")
        .AllowPaging()
        .IsResponsive(true)
        .EnableResponsiveRow(true)
        .MinWidth(120)
        .ToolbarSettings(toolBar =>
            toolBar.ShowToolbar().CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Agregar" },
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Editar" },
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Eliminar" },
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Exportar" }
            })
            .ToolbarItems(items => {
                items.AddTool(ToolBarItems.ExcelExport);
            })
        )
        .Mappers(map => map.ExportToExcelAction(@Url.Action("ExpToExc", "Productos")))
        .PageSettings(pv => { pv.PageCount(7).PageSize(15); })
        .FilterSettings(filterv => { filterv.FilterType(FilterType.Excel); })
        .ScrollSettings(col => { col.Width("100%").Height("auto"); })
        .Columns(col =>
        {
            col.Field("RCPROD").HeaderTextAlign(TextAlign.Center).Add();
            col.Field("RCDESC").HeaderTextAlign(TextAlign.Center).Add();
            col.Field("RCDIVI").HeaderTextAlign(TextAlign.Center).Add();
            col.Field("RCLINE").HeaderTextAlign(TextAlign.Center).Add();
            col.Field("RCSEGM").HeaderTextAlign(TextAlign.Center).Add();
            col.Field("RCEMPA").HeaderTextAlign(TextAlign.Center).Add();
            col.Field("RCTIPO").HeaderTextAlign(TextAlign.Center).Add();
            col.Field("CLASDZ").HeaderTextAlign(TextAlign.Center).Add();
        })
        .ClientSideEvents(evev => { evev.Create("Create").ToolbarClick("TBClick").ActionComplete("AComplete"); })
    )

    <script type="text/x-jsrender" id="Agregar">
        <a id="aCustomLib" class="iconCus">
            <img class="imgIconCus" width="13" src='@Url.Content("~/Content/img/add.svg")' />
        </a>
    </script>
    <script type="text/x-jsrender" id="Editar">
        <a id="aCustomLib" class="iconCus">
            <img class="imgIconCus" width="13" src='@Url.Content("~/Content/img/edit.svg")' />
        </a>
    </script>
    <script type="text/x-jsrender" id="Eliminar">
        <a id="aCustomLib" class="iconCus">
            <img class="imgIconCus" width="10" src='@Url.Content("~/Content/img/delete.svg")' />
        </a>
    </script>
    <script type="text/x-jsrender" id="Exportar">
        <a id="aCustomLib" class="iconCus">
            <img class="imgIconCus" width="13" src='@Url.Content("~/Content/img/excel.svg")' />
        </a>
    </script>
</div>

<div class="alineadoCentro">
    <div id="myModal" class="modalu">
        <div class="fondomodal">
        </div>
        <div class="modal-dialogu">
            <div class="modal-content fondoBody">
                <div class="modal-header">
                    <button id="cerrarModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Productos</h4>
                </div>
                <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    <label>Código</label>
                                </td>
                                <td>
                                    <input id="nCodigo" class="form-control input-sm" maxlength="6" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Descripción</label>
                                </td>
                                <td>
                                    <input id="nDescripcion" class="form-control input-sm" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>División</label>
                                </td>
                                <td>
                                    <input id="nDivision" class="form-control input-sm" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Linea</label>
                                </td>
                                <td>
                                    <input id="nLinea" class="form-control input-sm" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Segmento</label>
                                </td>
                                <td>
                                    <input id="nSegmento" class="form-control input-sm" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Empa</label>
                                </td>
                                <td>
                                    <input id="nEmpa" class="form-control input-sm" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Tipo</label>
                                </td>
                                <td>
                                    <input id="nTipo" class="form-control input-sm" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Clase</label>
                                </td>
                                <td>
                                    <input id="nClase" class="form-control input-sm" />
                                </td>
                            </tr>
                        </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="SaveUpdate()" data-dismiss="modal">Aceptar</button>
                    <button id="cancelModal" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="myModal2" class="modalu">
        <div class="fondomodal">
        </div>
        <div class="modal-dialogu">
            <div class="modal-content fondoBody">
                <div class="modal-header">
                    <button id="cerrarModal2" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Eliminar Producto</h4>
                </div>
                <div class="modal-body">
                    Esta seguro de eliminar el registro seleccionado
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Delete()" data-dismiss="modal">Aceptar</button>
                    <button id="cancelModal2" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    var urlNuevoEdita = '@Url.Content("~/Productos/NuevoEditar")';    
    var urlElimina = '@Url.Content("~/Productos/Eliminar")';
    var urlExpExc = '@Url.Content("~/Productos/GenerateReport")';
    var idRegistro = "";
    
    function TBClick(args) {
        if (args.itemIndex == "0" && args.itemName == "Agregar") {
            $("#nCodigo").val('');
            $("#nDescripcion").val('');
            $("#nDivision").val('');
            $("#nLinea").val('');
            $("#nSegmento").val('');
            $("#nEmpa").val('');
            $("#nTipo").val('');
            $("#nClase").val('');

            $("#myModal").css("display", "block");
        }
        if (args.itemIndex == "1" && args.itemName == "Editar") {
            if (args.model.selectedRowIndex != "-1") {
                $("#nCodigo").val(args.model.selectedRecords[0].RCPROD);
                $("#nDescripcion").val(args.model.selectedRecords[0].RCDESC);
                $("#nDivision").val(args.model.selectedRecords[0].RCDIVI);
                $("#nLinea").val(args.model.selectedRecords[0].RCLINE);
                $("#nSegmento").val(args.model.selectedRecords[0].RCSEGM);
                $("#nEmpa").val(args.model.selectedRecords[0].RCEMPA);
                $("#nTipo").val(args.model.selectedRecords[0].RCTIPO);
                $("#nClase").val(args.model.selectedRecords[0].CLASDZ);

                idRegistro = args.model.selectedRecords[0].RCPROD;
                $("#myModal").css("display", "block");
            } else {
                $("#LblMsg").text("No se ha seleccionado ningun registro");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }
        if (args.itemIndex == "2" && args.itemName == "Eliminar") {
            if (args.model.selectedRowIndex != "-1") {
                idRegistro = args.model.selectedRecords[0].RCPROD;
                $("#myModal2").css("display", "block");
            }
            else {
                $("#LblMsg").text("No se ha seleccionado ningun registro");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }
        if (args.itemIndex == "3" && args.itemName == "Exportar") {
            window.open(urlExpExc, "_self");
        }
    }

    function SaveUpdate() {
        var continuar = true;
        $("#fondo").css("display", "block");

        if ($("#nCodigo").val() == "") {
            $("#fondo").css("display", "none");
            continuar = false;

            $("#LblMsg").text("El código es obligatorio");
            $("#myModMsg").css("display", "block");
            $("#myModMsg").css("z-index", "999");
        }

        if (continuar) {
            if ($("#nDescripcion").val() == "") {
                $("#fondo").css("display", "none");
                continuar = false;
                $("#LblMsg").text("La descripción es obligatoria");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nDivision").val() == "") {
                $("#fondo").css("display", "none");
                continuar = false;
                $("#LblMsg").text("La división es obligatoria");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nLinea").val() == "") {
                $("#fondo").css("display", "none");
                continuar = false;
                $("#LblMsg").text("La linea es obligatoria");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nSegmento").val() == "") {
                $("#fondo").css("display", "none");
                continuar = false;
                $("#LblMsg").text("El segmento es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nEmpa").val() == "") {
                $("#fondo").css("display", "none");
                continuar = false;
                $("#LblMsg").text("El empa es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nTipo").val() == "") {
                $("#fondo").css("display", "none");
                continuar = false;
                $("#LblMsg").text("El tipo es obligatorio");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            if ($("#nClase").val() == "") {
                $("#fondo").css("display", "none");
                continuar = false;
                $("#LblMsg").text("La clase es obligatoria");
                $("#myModMsg").css("display", "block");
                $("#myModMsg").css("z-index", "999");
            }
        }

        if (continuar) {
            var edita = false;

            if (idRegistro != "") {
                edita = true;
            }

            $.ajax({
                type: "POST",
                url: urlNuevoEdita,
                data: {
                    Codigo: $("#nCodigo").val(),
                    Descripcion: $("#nDescripcion").val(),
                    Division: $("#nDivision").val(),
                    Linea: $("#nLinea").val(),
                    Segmento: $("#nSegmento").val(),
                    Empa: $("#nEmpa").val(),
                    Tipo: $("#nTipo").val(),
                    Clase: $("#nClase").val(),
                    IdRegistro: idRegistro,
                    Edita: edita
                },
                cache: true,
                dataType: 'json',
                success: function (result) {
                    $("#fondo").css("display", "none");
                    if (result.result == "OK") {
                        gridObj = $("#Grid").data("ejGrid");
                        gridObj.refreshContent();
                        $("#myModal").css("display", "none");
                    } else {
                        $("#LblMsg").text(result.result);
                        $("#myModMsg").css("display", "block");
                    }
                }
            });
        }
    }

    function Delete() {
        $("#fondo").css("display", "block");

        $.ajax({
            type: "POST",
            url: urlElimina,
            data: { Id: idRegistro },
            cache: true,
            dataType: 'json',
            success: function (result) {
                $("#fondo").css("display", "none");
                if (result.result == "OK") {
                    gridObj = $("#Grid").data("ejGrid");
                    gridObj.refreshContent();
                    $("#myModal2").css("display", "none");
                } else {
                    $("#LblMsg").text(result.result);
                    $("#myModMsg").css("display", "block");
                }
            }
        });
    }

    function Create(args) {
        CreatePagination("Grid");
    }

</script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $("#myModal").draggable({
        handle: ".modal-header"
    });
    $("#cerrarModal").click(function () {
        $("#myModal").css("display", "none");
    });
    $("#cancelModal").click(function () {
        $("#myModal").css("display", "none");
    });

    $("#myModal2").draggable({
        handle: ".modal-header"
    });
    $("#cerrarModal2").click(function () {
        $("#myModal2").css("display", "none");
    });
    $("#cancelModal2").click(function () {
        $("#myModal2").css("display", "none");
    });
    
    $(document).ready(function () {
        $("input:text").focus(function () { $(this).select(); });        
    })

</script>