﻿@using WebCilindros.Models;

@if (WebCilindrosCore.Helpers.SessionManager.Get<UserLiteDTO>("VarUsuario") != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="ubicaLogin">
            <a title="@(WebCilindrosCore.Helpers.SessionManager.Get<string>("Librerias"))">@(WebCilindrosCore.Helpers.SessionManager.Get<string>("Librerias").Split(',')[0] + "-" + WebCilindrosCore.Helpers.SessionManager.Get<UserLiteDTO>("VarUsuario").Modulo + "/" + WebCilindrosCore.Helpers.SessionManager.Get<UserLiteDTO>("VarUsuario").Usuario)</a>
        </li>
    </ul>
}
