﻿@using Requisiciones.Models;

@if (RequisicionesCore.Helpers.SessionManager.Get<UserLiteDTO>("VarUsuario") != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="ubicaLogin">
            <a title="@(RequisicionesCore.Helpers.SessionManager.Get<string>("Librerias"))">@(RequisicionesCore.Helpers.SessionManager.Get<string>("Librerias").Split(',')[0] + "-" + RequisicionesCore.Helpers.SessionManager.Get<UserLiteDTO>("VarUsuario").Modulo + "/" + RequisicionesCore.Helpers.SessionManager.Get<UserLiteDTO>("VarUsuario").Usuario)</a>
        </li>
    </ul>
}
