﻿body {
    padding-top: 20px;
    padding-left:10px;
    padding-bottom: 0;   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 470px;
}

input {
    height: 30px !important;
    line-height: 30px !important;
    border: 1px solid #ccc !important;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

label, h1, h2, h3, table, li {
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.oculto {
    display: none;
}

.npag {
    /*display: inline-block;*/
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    margin: 2px 6px -4px 10px;
}

    .npag select {
        height: 26px;
        color: rgba(0, 0, 0, 0.7);
        max-width: 50px;
        padding: 0;
        font-size: .8em;
    }

h1 {
    font-weight: bold;
}

.seldd {
    max-width: 100%;
    width: 92%;
    padding: 5.9px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ccc;
}

seldd:focus {
    border: 1px solid #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ctext {
    max-width: 100%;
    width: 100%;
    border: 1px solid #ccc;
    /*box-shadow: rgba(0,0,0,.1) 1px 1px 2px inset;*/
    border-radius: 2px;
    padding: 4px;
}

    .ctext:focus {
        border-color: #66afe9;
        outline: 0;
        /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
        /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
    }

.cajaslt {
    border: 1px solid #ccc;
    height: 32px;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 3px;
    padding: 0;
}

.selectt {
    background: transparent;
    border: none;
    height: 32px;
    width: 280px;
    width: 100%;
}

    .selectt:focus {
        outline: none;
    }

.cajaslt::after {
    content: "\025be";
    display: table-cell;
    padding-top: 7px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
    cursor: pointer;
}

select {
    max-width: 100%;
    width: 92%;
    padding: 4px;
    color: rgba(0, 0, 0, 0.7);
}

    select:focus {
        border: 1px solid #66afe9;
        outline: 0;
        /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
        /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
    }

.HomeImagen {
    background-image: url('Img/home-boringt.png');
    background-size: cover;
    text-align: center;
    width: 98%;
    height: 200px;
}

    .HomeImagen img {
        max-width: 100%;
        max-height: 100%;
    }

@media(min-width: 620px) {

    .npag select {
        height: 30px;
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .HomeImagen {
        width: 98%;
        height: 260px;
    }
}

.principal {
    max-width: 1200px;
    border-radius: 5px;
    margin: 0 auto;
}

    .principal img {
        width: 100%;
        border-radius: 5px;
    }

.clsmmm {
    position: relative;
    width: 280px;
    padding-left: 65px;
}

    .clsmmm:before {
        position: absolute;
        content: ' ';
        background: url('img/brinsalogo.svg') no-repeat;
        background-size: contain;
        width: 45px;
        height: 48px;
        top: 0;
        left: 10px;
    }

a.LogoB {
    background: url('img/BrinsaBordeBlanco.svg') no-repeat;
    background-size: 200px 49px;
    display: block;
    width: 200px;
    height: 49px;
    text-indent: -9999px;
}

.frameborder {
    border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,.1) 1px 1px 2px inset;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    max-width: 90%;
}

.container {
    max-width: 100%;
}

@media(min-width: 768px) {
  
    .HomeImagen {
        width: 98%;
        height: 325px;
    }
}

@media(min-width: 1200px) {

    .principal {
        max-width: 92%;
    }

    .HomeImagen {        
        width: 98%;
        height: 400px;
    }
}

/*.btn-primary {
    color: #ffffff;
    background-color: #043268;
    border-color: #002a5c;
}*/

.foscuro {
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 0 !important;
}

    .foscuro:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px; /* Adjusts for spacing */
    }

.contespera {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 2.5em;
    font-family: 'Gill Sans MT';
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.subtxt {
    font-size: .8em;
}


.inhabilita {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.col-md-10 {
    margin-bottom: 5px;
}

.imgLogoBrinsa {
    width: 140px;
    position: absolute;
    top: 60px;
    right: 10px;
}

    .imgLogoBrinsa img {
        width: 100%;
    }

.tablareg {
    width: 100%;
    font-family: sans-serif;
    border: 1px solid #808080;
    /*background: #eeeeee;*/
}

    .tablareg .tablaregrow {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        float: left;
        width: 40%;
        padding-left: 1%;
        background: #e2e2e2;
    }

.tablaregrow2 label {
    font-weight: normal;
}

.tablareg .tablaregrow2 {
    border-bottom: 1px solid #ffffff;
    padding-left: 41%;
}

.proc {
    padding: 4%;
}

.col-md-4 img{
    max-width:100%;
}

.ubicaLogin a{
    font-size:.9em !important;
}

.ubicaLogin a:hover {
    background-color: #043268 !important;
    color: #dbdbdb !important;
}

.LogoApp {
    width: 120px;
    margin-left: 0;
}

@media(min-width: 768px) {
    .LogoApp {
        margin-left: -15px;
    }
}

.dropdown .navbar-nav li a {
    min-width: 190px;
    line-height: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
}

.iconCus {
    padding: 10px;        
}

.imgIconCus {
    margin-top: 6px;
    margin-bottom: 7px;
    margin-left: 2px;
}

.footer {
    font-size: .7em;
    width: 100%;
    border-top: 1px solid #3277b2;
    height: 41px;    
}

    .footer img {
        margin-right: 5px;
        margin-left: 8px;
        padding-top: 2px;
        width: 60px;
        height: 31px;
    }

    .footer label {
        vertical-align: middle;
        margin-bottom: 0;
    }

    .footer div {
        padding: 5px 0;
    }