﻿.modal-header {
    cursor: move;
}

.modalu {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 400; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding: 0 !important;
    overflow: hidden;
}

    .modalu:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px; /* Adjusts for spacing */
    }

.fondomodal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 100%;
    height: 100%;
}

.modal-dialogu {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 4px;
    min-width: 410px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    padding: 11px;
    border-bottom: 3px solid #3277B2;
}

.modal-footer {
    padding: 1px 15px 15px;
    margin-top: 1px;
    text-align: left;
    border-top: 0px solid #e5e5e5;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.btn-default:active {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
    background: #2f619a;
    border: 1px solid #3e77b6;
    color: #fff;
}

.anchoCEA {
    width: 95%;
}

.modal-body {
    max-height: 200px;
    overflow: auto;
}

@media (min-width: 1200px) {
    .anchoCEA {
        width: 80%;
    }

    .modal-body {
        max-height: 550px;
    }
}

.alineadoCentro {
    text-align: center;
}

.fondoBody {
    background: #fff;
}

.fechas {
    width: 150px;
}

hr {
    border-top-color: #3277b2;
}
