﻿@using WebCilindros.Models

@model MdlCliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body style="background-color:@System.Configuration.ConfigurationManager.AppSettings["BackApp"]">

    <form method="POST">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-bordered table-responsive table-striped" style="width:470px;">
            <tr>
                <th valign="top" colspan="2" style="background-color:#f9f9f9;">
                    Recepción de Cilindros
                </th>
            </tr>
            <tr>
                <th style="background-color:#fff;">
                    @Html.LabelFor(m => m.cliente, new { @class = "col-md-2 control-label" })
                    @*<label for="cliente" style="margin-bottom:0;">Cliente</label>*@
                </th>
                <td style="background-color:#fff;">
                    @Html.TextBoxFor(m => m.cliente, new { @size = "50", @style = "max-width:400px;" })
                    @Html.ValidationMessageFor(m => m.cliente, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.idCliente)
                    @*<input type="hidden" id="idCliente" name="idCliente" />*@
                    @*<input id="cliente" name="cliente" placeholder="Código o Nombre" size="50" />*@
                </td>
            </tr>

            <tr>
                <td colspan="2" style="background-color:#f9f9f9;">
                    <button type="submit" class="btn btn-primary" style="width:100%">Agregar</button>
                </td>
            </tr>
        </table>
    </form>

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>

    <script>

    var urlAutoCliente = '@Url.Content("~/Recepcion/ClienteComplete")';

    $(document).ready(function () {
        $("input:text").focus(function () { $(this).select(); });

        $("#cliente").autocomplete({
            source: function (request, response) {
                $("#idCliente").val('');
                $.ajax({
                    url: urlAutoCliente,
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CCUST + " - " + item.CNME, id: item.CCUST };
                        }))
                    }
                })
            },
            focus: function (event, ui) {
                $("#cliente").val(ui.item.label);
                $("#idCliente").val('');
                return false;
            },
            select: function (event, ui) {
                $("#cliente").val(ui.item.label);
                $("#idCliente").val(ui.item.id);
                return false;
            },
            change: function (event, ui) {
                if ($("#idCliente").val() == "") {
                    $("#cliente").val('');
                }
                return false;
            }
        });

    })

    </script>
</body>
</html>
