﻿@{
    //ViewBag.Title = "Index";
    var maxFiles = BSSFileUpload.Common.Config.MaxFiles;
    string maxFilesiz = BSSFileUpload.Common.Config.MaxFilesize;
}
@model BSSFileUpload.Models.UploadModel

@section Scripts {
    <script type="text/javascript">
        //var maxFilesize = BSSFileUpload.Common.Config.MaxFilesize;
        //$('#dropzoneForm').dropzone({
        //    maxFiles: 2
        //});
        // Cambio | 2016-03-04 15:23:54 | 
        //Para configurar parametros del dropzone, cambiar numero de archivos, mensajes, etc.
        //File Upload response from the server
        Dropzone.options.dropzoneForm = {
            maxFiles: parseInt(@maxFiles),
            maxFilesize: parseInt(@Model.FileSize), //en MB, 
            parallelUploads: parseInt(@maxFiles),
            uploadMultiple: true,
            //dictDefaultMessage: "Ponga los archivos aqui.",
            //dictMaxFilesExceeded: 'Mi perris no puedes subir mas archivos',
            init: function () {
                this.on("complete", function (data) {
                    //var res = eval('(' + data.xhr.responseText + ')');
                    var res = JSON.parse(data.xhr.responseText);
                    console.log(res);
                });
            }
        };
        function cerrarVentana() {
            window.close();
            window.opener.location.reload();
        }
    </script>
}

<br />

<h1>@Model.Cat01</h1>
<h2>@Model.Cat02</h2>
<h3>Proceso No. @Model.Proc</h3>
<h3>Tamaño maximo permitido: @Model.FileSize MB por archivo</h3>

<form 
    action="@Url.Action("SaveFile", "Upload")" 
    method="post" 
    enctype="multipart/form-data" 
    class="dropzone" 
    id="dropzoneForm">
    <div class="fallback">
        <input name="file" type="file" multiple />
        <input type="submit" value="Upload" />
    </div>
</form>
<br />
<button onclick="cerrarVentana();">Cerrar</button>