﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MenuPrincipal.ascx.cs" Inherits="BSS.SIT.Web.MenuPrincipal" %>
<div id="nav" class="jqueryslidemenu">
    <asp:Literal ID="uiMenu" runat="server" />
</div>
