/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColor {
	background-color: #ffffff;
	}

.FormTitleBgColor {
	background-color: #474d5c;
	}

.FormTitleFontColor {
	color: #ffffff;
	}

.CaptionBgColor {
	background-color: #99a982;
	}

.CaptionFontColor {
	color: #ffffff;
	}

.DataBgColor {
	background-color: #f7f8fa;
	}

.AltDataBgColor {
	background-color: #ffffff;
	}

.DataFontColor {
	color: #474d5c;
	}

.LinkColor {
	color: #474d5c;
	}

.VisitedLinkColor {
	color: #474d5c;
	}

.HoverLinkColor {
	color: #000000;
	}

.ColorBgButton {
	background-color: #474d5c;
}

.ColorFontButton {
	color: #ffffff;
}

.ColorBgButtonPassive {
	background-color: #9ea5b4;
}

.ColorFontButtonPassive {
	color: #ffffff;
}
 
/* BEGIN Common */
body { 
	color: #474d5c;
  height:100%;
  min-height:100%;
  background-color: #FFFFFF;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 70px 0px;
  min-width: 900px;
	font-family: Arial; font-size: 70%;
	}


html>body {
	font-family: Arial; font-size: 70%;
}

html>body td, html>body th, html>body table {
	font-size: 100%;
}


/*ie6*/
* html body {
	font-family: Arial; font-size: 70%;
}

* html body td, * html body th, * html body table {
	font-size: 100%;
}
/*end*/

.text { 
	color: #474d5c
	}

a.menulink:link, a.menulink:visited { 
	color: #474d5c;
	}

a.menulink:hover, a.menulink:active { 
	color: #000000;
	}


a:link { 
	color: #474d5c;
	}

a:visited { 
	color: #474d5c;
	}

a:hover,a:active { 
	color: #000000;
	}

ul, ol, blockquote { 
	margin-top: 5px; 
	margin-bottom: 10px; 
	margin-left: 20px; 
	}

form {
	margin: 0px;
	}

h1	{
	color: #474d5c;
	font-size: 140%;
	margin-top: 5px; 
	margin-bottom: 5px;
	}

h2	{ 
	color: #474d5c;
	font-size: 120%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h3	{ 
	color: #474d5c;
	font-size: 100%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h4	{ 
	color: #474d5c;
	font-size: 90%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h5	{ 
	color: #474d5c;
	font-size: 95%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h6	{ 
	color: #474d5c;
	font-size: 80%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

th	{ 
	font-family: Arial; font-size: 70%;
	}

td { 
	font-family: Arial; font-size: 70%;
	}

/*input, textarea, select {
	font-family: Arial; font-size: 70%;
	font-size: 100%;
}

html>body input, html>body select, html>body textarea {
	font-family: Arial; font-size: 70%;
	font-size: inherit;
}*/

/* END Common */

.Header {
	width: 100%;
	}

.Header th { 
	font-size: 90%; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}


html>body .Header th {
	font-size: 130%; text-align: left;
}


/*ie6*/
* html body .Header th {
	font-size: 130%; text-align: left;
}
/*end*/

.Header a:link { 
	color: #ffffff;
	}

.Header a:visited { 
	color: #ffffff;
	}

.Header a:hover, .Caption a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeft { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRight { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeft img{
	width: 9px;
	}

.HeaderRight img{
	width: 9px;
	}


/* Grid Options */
.Grid { 
	border: 1px solid #474d5c;
	width: 100%;
	}

.Caption th { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982; color: #ffffff;
	white-space: nowrap;
	}

.Caption td { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982; color: #ffffff;
	white-space: nowrap;
	}


html>body .Caption th, html>body .Caption td {
	font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .Caption th, * html body .Caption td {
	font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.Caption a:link { 
	color: #ffffff;
	}

.Caption a:visited { 
	color: #ffffff;
	}

.Caption a:hover, .Caption a:active { 
	color: #000000;
	}

.Caption img {
	margin: 2px; 
	vertical-align: middle;
	}

.Caption input {
	vertical-align: middle;
	}

.Row th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
	}

.Row td { 
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #474d5c;
	}
	

html>body .Row th, html>body .Row td {
	font-size: 100%;
}


/*ie6*/
* html body .Row th, * html body .Row td {
	font-size: 100%;
}
/*end*/

caption.Row { 
	font-size: 70%;
	padding: 3px;
	border: 1px solid #474d5c; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #474d5c;
	}


html>body caption.Row {
	font-size: 100%;
}


/*ie6*/
* html body caption.Row {
	font-size: 100%;
}
/*end*/

.Row a:link { 
	color: #474d5c;
	}

.Row a:visited { 
	color: #474d5c;
	}

.Row a:hover, .Row a:active { 
	color: #000000;
	}

.Separator{
	color: #474d5c;
	}

.Separator td{
	height: 1px;
	}


.AltRow th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
	}

.AltRow td { 
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff; 
	color: #474d5c;
	}


html>body .AltRow th, html>body .AltRow td {
	font-size: 100%;
}


/*ie6*/
* html body .AltRow th, * html body .AltRow td {
	font-size: 100%;
}
/*end*/

.AltRow a:link { 
	color: #474d5c;
	}

.AltRow a:visited { 
	color: #474d5c;
	}

.AltRow a:hover, .AltRow a:active { 
	color: #000000;
	}

.NoRecords td { 
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	background-color: #f7f8fa; 
	color: #474d5c;
	vertical-align: top;
	}

.Footer td { 
	font-size: 70%;
	padding: 3px;
	border: 1px solid #99a982; border-left: 0px none;
	background-color: #f7f8fa; color: #474d5c;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #474d5c;
	}


html>body .NoRecords td, html>body .Footer td {
	font-size: 100%;
}


/*ie6*/
* html body .NoRecords td, * html body .Footer td {
	font-size: 100%;
}
/*end*/

.Footer a:link { 
	color: #474d5c;
	}

.Footer a:visited { 
	color: #474d5c;
	}

.Footer a:hover, .Footer a:active { 
	color: #000000;
	}

.Footer img {
	margin: 2px; 
	vertical-align: middle;
	}

.Footer input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.Record { 
	border: 1px solid #474d5c;
	width: 100%;
	}

.Error td { 
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f8fa; 
	}


* html>body .Error td {
	font-size: 100%;
}


/*ie6*/
* html body .Error td {
	font-size: 100%;
}
/*end*/

.Controls th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
	}

.Controls td { 
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #474d5c;
	}
	
.Bottom td { 
	font-size: 70%;
	padding: 3px;
	border: 1px solid #99a982; border-left: 0px none;
	background-color: #f7f8fa; color: #474d5c;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #474d5c;
	}


html>body .Controls th, html>body .Controls td, html>body .Bottom td {
	font-size: 100%;
}


/*ie6*/
* html body .Controls th, * html body .Controls td, * html body .Bottom td {
	font-size: 100%;
}
/*end*/

.Bottom a:link { 
	color: #474d5c;
	}

.Bottom a:visited { 
	color: #474d5c;
	}

.Bottom a:hover, .Caption a:active { 
	color: #000000;
	}

.Bottom img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottom input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaption th{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
	}

.GroupCaption td{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f8fa; 
	color: #474d5c;
	}


html>body .GroupCaption th, html>body .GroupCaption td {
	font-size: 100%;
}


/*ie6*/
* html body .GroupCaption th, * html body .GroupCaption td {
	font-size: 100%;
}
/*end*/

.GroupCaption a:link {
	color: #ffffff;
	}

.GroupCaption a:visited{
	color: #ffffff;
	}

.GroupCaption a:hover, .GroupCaption a:active{
	color: #000000;
	}

.GroupFooter td{
	font-size: 70%;
	padding: 3px;
	border: 1px solid #99a982; border-left: 0px none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #99a982; 
	color: #474d5c;
	}


html>body .GroupFooter td {
	font-size: 100%;
}


/*ie6*/
* html body .GroupFooter td {
	font-size: 100%;
}
/*end*/

.GroupFooter a:link {
	color: #474d5c;
	}

.GroupFooter a:visited{
	color: #474d5c;
	}

.GroupFooter a:hover,.GroupFooter a:active{
	color: #000000;
	}

.GroupFooter img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooter input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotal td{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
	border-bottom: 2px solid #474d5c;
	}


html>body .SubTotal td {
	font-size: 100%;
}


/*ie6*/
* html body .SubTotal td {
	font-size: 100%;
}
/*end*/

.SubTotal a:link {
	color: #474d5c;
	}

.SubTotal a:visited{
	color: #474d5c;
	}

.SubTotal a:hover, .SubTotal a:active{
	color: #000000;
	}

.Total td{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
	}


html>body .Total td {
	font-size: 100%;
}


/*ie6*/
* html body .Total td {
	font-size: 100%;
}
/*end*/

.Total a:link {
	color: #474d5c;
	}

.Total a:visited{
	color: #474d5c;
	}

.Total a:hover, .Total a:active{
	color: #000000;
	}

/* Form Options */
.Button { 
	background-color: #474d5c; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 10px; font-weight: bold;
	}

/* Calendar */

.Calendar { 
	border: 1px solid #474d5c;
	width: 100%;
	}

.CalendarWeekdayName{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #ffffff; 
	color: #474d5c;
	font-weight: normal;
	}


html>body .CalendarWeekdayName {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekdayName {
	font-size: 100%;
}
/*end*/

.CalendarWeekdayName a:link {
	color: #474d5c;
	}

.CalendarWeekdayName a:visited{
	color: #474d5c;
	}

.CalendarWeekdayName a:hover, .CalendarWeekdayName a:active{
	color: #000000;
	}

.CalendarWeekendName{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #ffffff;	
	color: #474d5c;
	font-weight: normal;
	}


html>body .CalendarWeekendName {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendName {
	font-size: 100%;
}
/*end*/

.CalendarWeekendName a:link {
	color: #ffffff;
	}

.CalendarWeekendName a:visited{
	color: #ffffff;
	}

.CalendarWeekendName a:link, .CalendarWeekendName a:visited{
	color: #000000;
	}

/* Calendar Day */
.CalendarDay{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarDay {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarDay {
	font-size: 100%;
}
/*end*/

.CalendarDay a:link {
	color: #474d5c;
	}

.CalendarDay a:visited{
	color: #474d5c;
	}

.CalendarDay a:hover, .CalendarDay a:active{
	color: #000000;
	}

/* Calendar Weekend */
.CalendarWeekend{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #ffffff;	
	color: #474d5c;
	}


html>body .CalendarWeekend {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekend {
	font-size: 100%;
}
/*end*/

.CalendarWeekend a:link {
	color: #474d5c;
	}

.CalendarWeekend a:visited{
	color: #474d5c;
	}

.CalendarWeekend a:hover, .CalendarWeekend a:active{
	color: #000000;
	}

/* Calendar Today */
.CalendarToday {
	font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarToday {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarToday {
	font-size: 100%;
}
/*end*/

.CalendarToday a:link {
	color: #474d5c;
	}

.CalendarToday a:visited{
	color: #474d5c;
	}

.CalendarToday a:hover, .CalendarToday a:active {
	color: #000000;
	}

/* Calendar Weekend Today */
.CalendarWeekendToday {
	font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	background-color: #ffffff;	
	color: #474d5c;
	}


html>body .CalendarWeekendToday {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendToday {
	font-size: 100%;
}
/*end*/

.CalendarWeekendToday a:link {
	color: #474d5c;
	}

.CalendarWeekendToday a:visited{
	color: #474d5c;
	}

.CalendarWeekendToday a:hover, .CalendarWeekendToday a:active{
	color: #000000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDay{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarOtherMonthDay {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthDay {
	font-size: 100%;
}
/*end*/

.CalendarOtherMonthDay a:link {
	color: #474d5c;
	}

.CalendarOtherMonthDay a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthDay a:hover, .CalendarOtherMonthDay a:active{
	color: #000000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthToday {
	font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarOtherMonthToday {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthToday {
	font-size: 100%;
}
/*end*/

.CalendarOtherMonthToday a:link {
	color: #474d5c;
	}

.CalendarOtherMonthToday a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthToday a:hover,.CalendarOtherMonthToday a:active{
	color: #000000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekend {
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #ffffff;	
	color: #474d5c;
	}


html>body .CalendarOtherMonthWeekend {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekend {
	font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekend a:link {
	color: #474d5c;
	}

.CalendarOtherMonthWeekend a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthWeekend a:hover, .CalendarOtherMonthWeekend a:active{
	color: #000000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendToday {
	font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	color: #474d5c;
	background-color: #ffffff;	
	}
	

html>body .CalendarOtherMonthWeekendToday {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendToday {
	font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendToday a:link {
	color: #474d5c;
	}

.CalendarOtherMonthWeekendToday a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthWeekendToday a:hover, .CalendarOtherMonthWeekendToday a:active{
	color: #000000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDay{
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDay {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarSelectedDay {
	font-size: 100%;
}
/*end*/

.CalendarSelectedDay a:link {
	color: #ffffff;
	}

.CalendarSelectedDay a:visited{
	color: #ffffff;
	}

.CalendarSelectedDay a:hover, .CalendarSelectedDay a:active{
	color: #000000;
	}

/* Calendar Navigator */
.CalendarNavigator {
	font-size: 70%;
	padding: 3px;
	background-color: #f7f8fa; color: #474d5c;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #474d5c;
	}


html>body .CalendarNavigator {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigator {
	font-size: 100%;
}
/*end*/

.CalendarNavigator a:link {
	color: #474d5c;
	}

.CalendarNavigator a:visited{
	color: #474d5c;
	}

.CalendarNavigator a:hover, .CalendarNavigator a:active{
	color: #000000;
	}

.CalendarNavigator img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigator td {
	font-size: 70%;
	}

.CalendarNavigator th {
	font-size: 70%;
	}


html>body .CalendarNavigator th, html>body .CalendarNavigator td {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigator th, * html body .CalendarNavigator td {
	font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEvent{
	font-size: 70%;
	text-align: left;
	}


html>body .CalendarEvent {
	font-size: 100%;
}


/*ie6*/
* html body .CalendarEvent {
	font-size: 100%;
}
/*end*/

.CalendarEvent a:link {
	color: #474d5c;
	}

.CalendarEvent a:visited{
	color: #474d5c;
	}

.CalendarEvent a:hover, .CalendarEvent a:active{
	color: #000000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.th { 
	font-family: Arial; font-size: 70%;
	font-weight: bold;
}


html>body .th {
	font-size: 100%;
}


/*ie6*/
* html body .th {
	font-size: 100%;
}
/*end*/

.Header .th { 
	font-size: 90%; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
}


html>body .Header .th {
	font-size: 130%; text-align: left;
}


/*ie6*/
* html body .Header .th {
	font-size: 130%; text-align: left;
}
/*end*/

.Caption .th { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982; color: #ffffff;
	white-space: nowrap;
}


html>body .Caption .th {
	font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .Caption .th {
	font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.Row .th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
}

.AltRow .th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
}

.Controls .th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
}

.GroupCaption .th {
	font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
}


html>body .GroupCaption .th {
	font-size: 100%;
}

html>body .Row .th, html>body .AltRow .th, html>body .Controls .th {
	font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaption .th {
	font-size: 100%;
}

* html body .Row .th, * html body .AltRow .th, * html body .Controls .th {
	font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenu td {
	font-size: 70%;
}


html>body .simpleMenu td {
	font-size: 100%;
} 


/*ie6*/
* html body .simpleMenu td {
	font-size: 100%;
} 
/*end*/
