/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorIAL03 {
	background-color: #ffffff;
	}

.FormTitleBgColorIAL03 {
	background-color: #474d5c;
	}

.FormTitleFontColorIAL03 {
	color: #ffffff;
	}

.CaptionBgColorIAL03 {
	background-color: #99a982;
	}

.CaptionFontColorIAL03 {
	color: #ffffff;
	}

.DataBgColorIAL03 {
	background-color: #f7f8fa;
	}

.AltDataBgColorIAL03 {
	background-color: #ffffff;
	}

.DataFontColorIAL03 {
	color: #474d5c;
	}

.LinkColorIAL03 {
	color: #474d5c;
	}

.VisitedLinkColorIAL03 {
	color: #474d5c;
	}

.HoverLinkColorIAL03 {
	color: #000000;
	}

.ColorBgButtonIAL03 {
	background-color: #474d5c;
}

.ColorFontButtonIAL03 {
	color: #ffffff;
}

.ColorBgButtonPassiveIAL03 {
	background-color: #9ea5b4;
}

.ColorFontButtonPassiveIAL03 {
	color: #ffffff;
}



.HeaderIAL03 {
	width: 100%;
	}

.HeaderIAL03 th { 
	font-family: Arial; font-size: 90%; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}


html>body .HeaderIAL03 th {
	font-family: Arial; font-size: 130%; text-align: left;
}


/*ie6*/
* html body .HeaderIAL03 th {
	font-family: Arial; font-size: 130%; text-align: left;
}
/*end*/

.HeaderIAL03 a:link { 
	color: #ffffff;
	}

.HeaderIAL03 a:visited { 
	color: #ffffff;
	}

.HeaderIAL03 a:hover, .CaptionIAL03 a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftIAL03 { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightIAL03 { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftIAL03 img{
	width: 9px;
	}

.HeaderRightIAL03 img{
	width: 9px;
	}


/* Grid Options */
.GridIAL03 { 
	border: 1px solid #474d5c;
	width: 100%;
	}

.CaptionIAL03 th { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982; color: #ffffff;
	white-space: nowrap;
	}

.CaptionIAL03 td { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982; color: #ffffff;
	white-space: nowrap;
	}


html>body .CaptionIAL03 th, html>body .CaptionIAL03 td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionIAL03 th, * html body .CaptionIAL03 td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionIAL03 a:link { 
	color: #ffffff;
	}

.CaptionIAL03 a:visited { 
	color: #ffffff;
	}

.CaptionIAL03 a:hover, .CaptionIAL03 a:active { 
	color: #000000;
	}

.CaptionIAL03 img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionIAL03 input {
	vertical-align: middle;
	}

.RowIAL03 th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
	}

.RowIAL03 td { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #474d5c;
	}
	

html>body .RowIAL03 th, html>body .RowIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .RowIAL03 th, * html body .RowIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowIAL03 { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border: 1px solid #474d5c; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #474d5c;
	}


html>body caption.RowIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body caption.RowIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowIAL03 a:link { 
	color: #474d5c;
	}

.RowIAL03 a:visited { 
	color: #474d5c;
	}

.RowIAL03 a:hover, .RowIAL03 a:active { 
	color: #000000;
	}

.SeparatorIAL03{
	color: #474d5c;
	}

.SeparatorIAL03 td{
	height: 1px;
	}


.AltRowIAL03 th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
	}

.AltRowIAL03 td { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff; 
	color: #474d5c;
	}


html>body .AltRowIAL03 th, html>body .AltRowIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .AltRowIAL03 th, * html body .AltRowIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowIAL03 a:link { 
	color: #474d5c;
	}

.AltRowIAL03 a:visited { 
	color: #474d5c;
	}

.AltRowIAL03 a:hover, .AltRowIAL03 a:active { 
	color: #000000;
	}

.NoRecordsIAL03 td { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	background-color: #f7f8fa; 
	color: #474d5c;
	vertical-align: top;
	}

.FooterIAL03 td { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border: 1px solid #99a982; border-left: 0px none;
	background-color: #f7f8fa; color: #474d5c;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #474d5c;
	}


html>body .NoRecordsIAL03 td, html>body .FooterIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .NoRecordsIAL03 td, * html body .FooterIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterIAL03 a:link { 
	color: #474d5c;
	}

.FooterIAL03 a:visited { 
	color: #474d5c;
	}

.FooterIAL03 a:hover, .FooterIAL03 a:active { 
	color: #000000;
	}

.FooterIAL03 img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterIAL03 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordIAL03 { 
	border: 1px solid #474d5c;
	width: 100%;
	}

.ErrorIAL03 td { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f8fa; 
	}


* html>body .ErrorIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ErrorIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsIAL03 th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
	}

.ControlsIAL03 td { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #474d5c;
	}
	
.BottomIAL03 td { 
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border: 1px solid #99a982; border-left: 0px none;
	background-color: #f7f8fa; color: #474d5c;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #474d5c;
	}


html>body .ControlsIAL03 th, html>body .ControlsIAL03 td, html>body .BottomIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ControlsIAL03 th, * html body .ControlsIAL03 td, * html body .BottomIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomIAL03 a:link { 
	color: #474d5c;
	}

.BottomIAL03 a:visited { 
	color: #474d5c;
	}

.BottomIAL03 a:hover, .CaptionIAL03 a:active { 
	color: #000000;
	}

.BottomIAL03 img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomIAL03 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionIAL03 th{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
	}

.GroupCaptionIAL03 td{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f8fa; 
	color: #474d5c;
	}


html>body .GroupCaptionIAL03 th, html>body .GroupCaptionIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupCaptionIAL03 th, * html body .GroupCaptionIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionIAL03 a:link {
	color: #ffffff;
	}

.GroupCaptionIAL03 a:visited{
	color: #ffffff;
	}

.GroupCaptionIAL03 a:hover, .GroupCaptionIAL03 a:active{
	color: #000000;
	}

.GroupFooterIAL03 td{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border: 1px solid #99a982; border-left: 0px none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #99a982; 
	color: #474d5c;
	}


html>body .GroupFooterIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupFooterIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterIAL03 a:link {
	color: #474d5c;
	}

.GroupFooterIAL03 a:visited{
	color: #474d5c;
	}

.GroupFooterIAL03 a:hover, .GroupFooterIAL03 a:active{
	color: #000000;
	}

.GroupFooterIAL03 img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterIAL03 input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalIAL03 td{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
	border-bottom: 2px solid #474d5c;
	}


html>body .SubTotalIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .SubTotalIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalIAL03 a:link {
	color: #474d5c;
	}

.SubTotalIAL03 a:visited{
	color: #474d5c;
	}

.SubTotalIAL03 a:hover, .SubTotalIAL03 a:active{
	color: #000000;
	}

.TotalIAL03 td{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
	}


html>body .TotalIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .TotalIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalIAL03 a:link {
	color: #474d5c;
	}

.TotalIAL03 a:visited{
	color: #474d5c;
	}

.TotalIAL03 a:hover, .TotalIAL03 a:active{
	color: #000000;
	}

/* Form Options */
.ButtonIAL03 { 
	background-color: #474d5c; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 10px; font-weight: bold;
	}

/* Calendar */

.CalendarIAL03 { 
	border: 1px solid #474d5c;
	width: 100%;
	}

.CalendarWeekdayNameIAL03{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #ffffff; 
	color: #474d5c;
	font-weight: normal;
	}


html>body .CalendarWeekdayNameIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekdayNameIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameIAL03 a:link {
	color: #474d5c;
	}

.CalendarWeekdayNameIAL03 a:visited{
	color: #474d5c;
	}

.CalendarWeekdayNameIAL03 a:hover, .CalendarWeekdayNameIAL03 a:active{
	color: #000000;
	}

.CalendarWeekendNameIAL03{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #ffffff;	
	color: #474d5c;
	font-weight: normal;
	}


html>body .CalendarWeekendNameIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendNameIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNameIAL03 a:link {
	color: #ffffff;
	}

.CalendarWeekendNameIAL03 a:visited{
	color: #ffffff;
	}

.CalendarWeekendNameIAL03 a:link, .CalendarWeekendNameIAL03 a:visited{
	color: #000000;
	}

/* Calendar Day */
.CalendarDayIAL03{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarDayIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarDayIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayIAL03 a:link {
	color: #474d5c;
	}

.CalendarDayIAL03 a:visited{
	color: #474d5c;
	}

.CalendarDayIAL03 a:hover, .CalendarDayIAL03 a:active{
	color: #000000;
	}

/* Calendar Weekend */
.CalendarWeekendIAL03{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #ffffff;	
	color: #474d5c;
	}


html>body .CalendarWeekendIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendIAL03 a:link {
	color: #474d5c;
	}

.CalendarWeekendIAL03 a:visited{
	color: #474d5c;
	}

.CalendarWeekendIAL03 a:hover, .CalendarWeekendIAL03 a:active{
	color: #000000;
	}

/* Calendar Today */
.CalendarTodayIAL03 {
	font-family: Arial; font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarTodayIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarTodayIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayIAL03 a:link {
	color: #474d5c;
	}

.CalendarTodayIAL03 a:visited{
	color: #474d5c;
	}

.CalendarTodayIAL03 a:hover, .CalendarTodayIAL03 a:active {
	color: #000000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayIAL03 {
	font-family: Arial; font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	background-color: #ffffff;	
	color: #474d5c;
	}


html>body .CalendarWeekendTodayIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendTodayIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayIAL03 a:link {
	color: #474d5c;
	}

.CalendarWeekendTodayIAL03 a:visited{
	color: #474d5c;
	}

.CalendarWeekendTodayIAL03 a:hover, .CalendarWeekendTodayIAL03 a:active{
	color: #000000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayIAL03{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarOtherMonthDayIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthDayIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayIAL03 a:link {
	color: #474d5c;
	}

.CalendarOtherMonthDayIAL03 a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthDayIAL03 a:hover, .CalendarOtherMonthDayIAL03 a:active{
	color: #000000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayIAL03 {
	font-family: Arial; font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	background-color: #f7f8fa;	
	color: #474d5c;
	}


html>body .CalendarOtherMonthTodayIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthTodayIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayIAL03 a:link {
	color: #474d5c;
	}

.CalendarOtherMonthTodayIAL03 a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthTodayIAL03 a:hover, .CalendarOtherMonthTodayIAL03 a:active{
	color: #000000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendIAL03 {
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: center;
	background-color: #ffffff;	
	color: #474d5c;
	}


html>body .CalendarOtherMonthWeekendIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendIAL03 a:link {
	color: #474d5c;
	}

.CalendarOtherMonthWeekendIAL03 a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthWeekendIAL03 a:hover, .CalendarOtherMonthWeekendIAL03 a:active{
	color: #000000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayIAL03 {
	font-family: Arial; font-size: 70%;
	padding: 1px;
	border: 2px solid #474d5c;
	text-align: center;
	color: #474d5c;
	background-color: #ffffff;	
	}
	

html>body .CalendarOtherMonthWeekendTodayIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayIAL03 a:link {
	color: #474d5c;
	}

.CalendarOtherMonthWeekendTodayIAL03 a:visited{
	color: #474d5c;
	}

.CalendarOtherMonthWeekendTodayIAL03 a:hover, .CalendarOtherMonthWeekendTodayIAL03 a:active{
	color: #000000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayIAL03{
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDayIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarSelectedDayIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayIAL03 a:link {
	color: #ffffff;
	}

.CalendarSelectedDayIAL03 a:visited{
	color: #ffffff;
	}

.CalendarSelectedDayIAL03 a:hover, .CalendarSelectedDayIAL03 a:active{
	color: #000000;
	}

/* Calendar Navigator */
.CalendarNavigatorIAL03 {
	font-family: Arial; font-size: 70%;
	padding: 3px;
	background-color: #f7f8fa; color: #474d5c;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #474d5c;
	}


html>body .CalendarNavigatorIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorIAL03 a:link {
	color: #474d5c;
	}

.CalendarNavigatorIAL03 a:visited{
	color: #474d5c;
	}

.CalendarNavigatorIAL03 a:hover, .CalendarNavigatorIAL03 a:active{
	color: #000000;
	}

.CalendarNavigatorIAL03 img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorIAL03 td {
	font-family: Arial; font-size: 70%;
	}

.CalendarNavigatorIAL03 th {
	font-family: Arial; font-size: 70%;
	}


html>body .CalendarNavigatorIAL03 th, html>body .CalendarNavigatorIAL03 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorIAL03 th, * html body .CalendarNavigatorIAL03 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventIAL03{
	font-family: Arial; font-size: 70%;
	text-align: left;
	}


html>body .CalendarEventIAL03 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarEventIAL03 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventIAL03 a:link {
	color: #474d5c;
	}

.CalendarEventIAL03 a:visited{
	color: #474d5c;
	}

.CalendarEventIAL03 a:hover, .CalendarEventIAL03 a:active{
	color: #000000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thIAL03 { 
	font-family: Arial; font-size: 70%;
	font-weight: bold;
}


html>body .thIAL03 {
	font-size: 100%;
}


/*ie6*/
* html body .thIAL03 {
	font-size: 100%;
}
/*end*/

.HeaderIAL03 .thIAL03 { 
	font-family: Arial; font-size: 90%; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
}


html>body .HeaderIAL03 .thIAL03 {
	font-family: Arial; font-size: 130%; text-align: left;
}


/*ie6*/
* html body .HeaderIAL03 .thIAL03 {
	font-family: Arial; font-size: 130%; text-align: left;
}
/*end*/

.CaptionIAL03 .thIAL03 { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #99a982; color: #ffffff;
	white-space: nowrap;
}


html>body .CaptionIAL03 .thIAL03 {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionIAL03 .thIAL03 {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowIAL03 .thIAL03 { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
}

.AltRowIAL03 .thIAL03 { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
}

.ControlsIAL03 .thIAL03 { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	background-color: #f7f8fa; color: #474d5c;
	white-space: nowrap;
	color: #474d5c;
}

.GroupCaptionIAL03 .thIAL03 {
	font-family: Arial; font-size: 70%;
	padding: 3px;
	border-top: 1px solid #99a982; border-right: 1px solid #99a982;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #ffffff; 
	color: #474d5c;
}


html>body .GroupCaptionIAL03 .thIAL03 {
	font-family: Arial; font-size: 100%;
}

html>body .RowIAL03 .thIAL03, html>body .AltRowIAL03 .thIAL03, html>body .ControlsIAL03 .thIAL03 {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaptionIAL03 .thIAL03 {
	font-family: Arial; font-size: 100%;
}

* html body .RowIAL03 .thIAL03, * html body .AltRowIAL03 .thIAL03, * html body .ControlsIAL03 .thIAL03 {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuIAL03 td {
	font-family: Arial; font-size: 70%;
}


html>body .simpleMenuIAL03 td {
	font-family: Arial; font-size: 100%;
} 


/*ie6*/
* html body .simpleMenuIAL03 td {
	font-family: Arial; font-size: 100%;
} 
/*end*/
