﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a>
                <img class="LogoApp" alt="Logo Empresa" border="0" src='@Url.Content("~/Content/img/brinsalogo.svg")' />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (WebCilindrosCore.Helpers.SessionManager.Get<WebCilindros.Models.UserLiteDTO>("VarUsuario") != null)
                {
                    <li>@Html.ActionLink("Productos", "Index", "Productos")</li>

                    <li>@Html.ActionLink("Salir", "CerrarSesion", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
