/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColor {
	background-color: #fcfcfc;
	}

.FormTitleBgColor {
	background-color: #eff0f7;
	}

.FormTitleFontColor {
	color: #31305a;
	}

.CaptionBgColor {
	background-color: #eff0f7;
	}

.CaptionFontColor {
	color: #979bb2;
	}

.DataBgColor {
	background-color: #fcfcfc;
	}

.AltDataBgColor {
	background-color: #f0f0f0;
	}

.DataFontColor {
	color: #000000;
	}

.LinkColor {
	color: #974300;
	}

.VisitedLinkColor {
	color: #000000;
	}

.HoverLinkColor {
	color: #c70000;
	}

.ColorBgButton {
	background-color: #1851f3;
}

.ColorFontButton {
	color: #fcfcfc;
}

.ColorBgButtonPassive {
	background-color: #31305a;
}

.ColorFontButtonPassive {
	color: #fcfcfc;
}

/* BEGIN Common */
body { 
	color: #000000;
	
	font-family: Arial; font-size: 12px;
	}



/*ie6*/
* html body {
	font-family: Arial; font-size: 12px;
}

* html body td, * html body th, * html body table {
	font-size: 100%;
}
/*end*/

.text { 
	color: #000000
	}

a.menulink:link, a.menulink:visited { 
	color: #974300;
	}

a.menulink:hover, a.menulink:active { 
	color: #c70000;
	}


a:link { 
	color: #974300;
	}

a:visited { 
	color: #000000;
	}

a:hover,a:active { 
	color: #c70000;
	}

ul, ol, blockquote { 
	margin-top: 5px; 
	margin-bottom: 10px; 
	margin-left: 20px; 
	}

form {
	margin: 0px;
	}

h1	{
	color: #000000;
	font-size: 24px;
	margin-top: 5px; 
	margin-bottom: 5px;
	}

h2	{ 
	color: #000000;
	font-size: 21px;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h3	{ 
	color: #000000;
	font-size: 18px; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h4	{ 
	color: #000000;
	font-size: 16px;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h5	{ 
	color: #000000;
	font-size: 16px; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h6	{ 
	color: #000000;
	font-size: 14px;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

th	{ 
	font-family: Arial; font-size: 12px;
	}

td { 
	font-family: Arial; font-size: 12px;
	}

/*input, textarea, select {
	font-family: Arial; font-size: 12px;
	font-size: 100%;
}

html>body input, html>body select, html>body textarea {
	font-family: Arial; font-size: 12px;
	font-size: inherit;
}*/

/* END Common */

.Header {
	width: 100%;
	}

.Header th { 
	font-size: 24px; text-align: left;
	padding: 5px;
	background-image: url('Images/HeaderBg.gif'); background-color: #eff0f7; color: #000000;
	width: 100%;
	white-space: nowrap;
	padding-left: 8px;
	}



/*ie6*/
* html body .Header th {
	font-size: 24px; text-align: left;
}
/*end*/

.Header a:link { 
	color: #000000;
	}

.Header a:visited { 
	color: #000000;
	}

.Header a:hover, .Caption a:active { 
	color: #000000; text-decoration: none;
	}

.HeaderLeft { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRight { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeft img{
	width: 1px;
	}

.HeaderRight img{
	width: 1px;
	}


/* Grid Options */
.Grid { 
	border-left: 1px solid #eff0f7; border-bottom: 1px solid #eff0f7;
	width: 100%;
	}

.Caption th { 
	font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	}

.Caption td { 
	font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	}



/*ie6*/
* html body .Caption th, * html body .Caption td {
	font-size: 14px; text-align: left; vertical-align: top;
}
/*end*/

.Caption a:link { 
	color: #000000;
	}

.Caption a:visited { 
	color: #000000;
	}

.Caption a:hover, .Caption a:active { 
	color: #c70000;
	}

.Caption img {
	margin: 2px; 
	vertical-align: middle;
	}

.Caption input {
	vertical-align: middle;
	}

.Row th { 
	font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Row td { 
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	background-color: #fcfcfc; 
	color: #000000;
	}
	


/*ie6*/
* html body .Row th, * html body .Row td {
	font-size: 12px;
}
/*end*/

caption.Row { 
	font-size: 12px;
	padding: 5px;
	border: 1px solid #eff0f7; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #fcfcfc; 
	color: #000000;
	}



/*ie6*/
* html body caption.Row {
	font-size: 12px;
}
/*end*/

.Row a:link { 
	color: #974300;
	}

.Row a:visited { 
	color: #000000;
	}

.Row a:hover, .Row a:active { 
	color: #c70000;
	}

.Separator{
	color: #eff0f7;
	}

.Separator td{
	height: 1px;
	}


.AltRow th { 
	font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRow td { 
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	background-color: #f0f0f0; 
	color: #000000;
	}



/*ie6*/
* html body .AltRow th, * html body .AltRow td {
	font-size: 12px;
}
/*end*/

.AltRow a:link { 
	color: #974300;
	}

.AltRow a:visited { 
	color: #000000;
	}

.AltRow a:hover, .AltRow a:active { 
	color: #c70000;
	}

.NoRecords td { 
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	background-color: #fcfcfc; 
	color: #000000;
	vertical-align: top;
	}

.Footer td { 
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .NoRecords td, * html body .Footer td {
	font-size: 12px;
}
/*end*/

.Footer a:link { 
	color: #974300;
	}

.Footer a:visited { 
	color: #000000;
	}

.Footer a:hover, .Footer a:active { 
	color: #c70000;
	}

.Footer img {
	border: 0px;
	margin: 2px; 
	vertical-align: middle;
	}

.Footer input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.Record { 
	border-left: 1px solid #eff0f7; border-bottom: 1px solid #eff0f7;
	width: 100%;
	}

.Error td { 
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #fcfcfc; 
	}



/*ie6*/
* html body .Error td {
	font-size: 12px;
}
/*end*/

.Controls th { 
	font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Controls td { 
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	background-color: #fcfcfc; 
	color: #000000;
	}

.Controls .Caption th {
	font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	font-weight: bold;
	white-space: nowrap;
	}	
.Bottom td { 
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .Controls th, * html body .Controls td, * html body .Bottom td {
	font-size: 12px;
}
/*end*/

.Bottom a:link { 
	color: #974300;
	}

.Bottom a:visited { 
	color: #000000;
	}

.Bottom a:hover, .Caption a:active { 
	color: #c70000;
	}

.Bottom img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottom input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaption th{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
	}

.GroupCaption td{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #fcfcfc; 
	color: #000000;
	}



/*ie6*/
* html body .GroupCaption th, * html body .GroupCaption td {
	font-size: 12px;
}
/*end*/

.GroupCaption a:link {
	color: #000000;
	}

.GroupCaption a:visited{
	color: #000000;
	}

.GroupCaption a:hover, .GroupCaption a:active{
	color: #c70000;
	}

.GroupFooter td{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #eff0f7; 
	color: #000000;
	}



/*ie6*/
* html body .GroupFooter td {
	font-size: 12px;
}
/*end*/

.GroupFooter a:link {
	color: #974300;
	}

.GroupFooter a:visited{
	color: #000000;
	}

.GroupFooter a:hover,.GroupFooter a:active{
	color: #c70000;
	}

.GroupFooter img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooter input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotal td{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
	border-bottom: 2px solid #eff0f7;
	}



/*ie6*/
* html body .SubTotal td {
	font-size: 12px;
}
/*end*/

.SubTotal a:link {
	color: #974300;
	}

.SubTotal a:visited{
	color: #000000;
	}

.SubTotal a:hover, .SubTotal a:active{
	color: #c70000;
	}

.Total td{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
	}



/*ie6*/
* html body .Total td {
	font-size: 12px;
}
/*end*/

.Total a:link {
	color: #974300;
	}

.Total a:visited{
	color: #000000;
	}

.Total a:hover, .Total a:active{
	color: #c70000;
	}

/* Form Options */
.Button { 
	background-color: #1851f3; color: #fcfcfc; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 12px;
	}

/* Calendar */

.Calendar { 
	border: 1px solid #eff0f7;
	width: 100%;
	}

.CalendarWeekdayName{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #f0f0f0; 
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekdayName {
	font-size: 12px;
}
/*end*/

.CalendarWeekdayName a:link {
	color: #974300;
	}

.CalendarWeekdayName a:visited{
	color: #000000;
	}

.CalendarWeekdayName a:hover, .CalendarWeekdayName a:active{
	color: #c70000;
	}

.CalendarWeekendName{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #f0f0f0;	
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekendName {
	font-size: 12px;
}
/*end*/

.CalendarWeekendName a:link {
	color: #000000;
	}

.CalendarWeekendName a:visited{
	color: #000000;
	}

.CalendarWeekendName a:link, .CalendarWeekendName a:visited{
	color: #c70000;
	}

/* Calendar Day */
.CalendarDay{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarDay {
	font-size: 12px;
}
/*end*/

.CalendarDay a:link {
	color: #974300;
	}

.CalendarDay a:visited{
	color: #000000;
	}

.CalendarDay a:hover, .CalendarDay a:active{
	color: #c70000;
	}

/* Calendar Weekend */
.CalendarWeekend{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #f0f0f0;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekend {
	font-size: 12px;
}
/*end*/

.CalendarWeekend a:link {
	color: #974300;
	}

.CalendarWeekend a:visited{
	color: #000000;
	}

.CalendarWeekend a:hover, .CalendarWeekend a:active{
	color: #c70000;
	}

/* Calendar Today */
.CalendarToday {
	font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarToday {
	font-size: 12px;
}
/*end*/

.CalendarToday a:link {
	color: #974300;
	}

.CalendarToday a:visited{
	color: #000000;
	}

.CalendarToday a:hover, .CalendarToday a:active {
	color: #c70000;
	}

/* Calendar Weekend Today */
.CalendarWeekendToday {
	font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	background-color: #f0f0f0;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendToday {
	font-size: 12px;
}
/*end*/

.CalendarWeekendToday a:link {
	color: #974300;
	}

.CalendarWeekendToday a:visited{
	color: #000000;
	}

.CalendarWeekendToday a:hover, .CalendarWeekendToday a:active{
	color: #c70000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDay{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #eff0f7;
	}



/*ie6*/
* html body .CalendarOtherMonthDay {
	font-size: 12px;
}
/*end*/

.CalendarOtherMonthDay a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthDay a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthDay a:hover, .CalendarOtherMonthDay a:active{
	color: #c70000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthToday {
	font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #eff0f7;
	}



/*ie6*/
* html body .CalendarOtherMonthToday {
	font-size: 12px;
}
/*end*/

.CalendarOtherMonthToday a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthToday a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthToday a:hover,.CalendarOtherMonthToday a:active{
	color: #c70000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekend {
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #f0f0f0;	
	color: #eff0f7;
	}



/*ie6*/
* html body .CalendarOtherMonthWeekend {
	font-size: 12px;
}
/*end*/

.CalendarOtherMonthWeekend a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthWeekend a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthWeekend a:hover, .CalendarOtherMonthWeekend a:active{
	color: #c70000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendToday {
	font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	color: #eff0f7;
	background-color: #f0f0f0;	
	}
	


/*ie6*/
* html body .CalendarOtherMonthWeekendToday {
	font-size: 12px;
}
/*end*/

.CalendarOtherMonthWeekendToday a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthWeekendToday a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthWeekendToday a:hover, .CalendarOtherMonthWeekendToday a:active{
	color: #c70000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDay{
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #eff0f7;
	color: #979bb2;
	text-align: center;
	font-weight: bold;
	}
	


/*ie6*/
* html body .CalendarSelectedDay {
	font-size: 12px;
}
/*end*/

.CalendarSelectedDay a:link {
	color: #000000;
	}

.CalendarSelectedDay a:visited{
	color: #000000;
	}

.CalendarSelectedDay a:hover, .CalendarSelectedDay a:active{
	color: #c70000;
	}

/* Calendar Navigator */
.CalendarNavigator {
	font-size: 12px;
	padding: 5px;
	background-color: #fcfcfc; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .CalendarNavigator {
	font-size: 12px;
}
/*end*/

.CalendarNavigator a:link {
	color: #974300;
	}

.CalendarNavigator a:visited{
	color: #000000;
	}

.CalendarNavigator a:hover, .CalendarNavigator a:active{
	color: #c70000;
	}

.CalendarNavigator img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigator td {
	font-size: 12px;
	}

.CalendarNavigator th {
	font-size: 12px;
	}



/*ie6*/
* html body .CalendarNavigator th, * html body .CalendarNavigator td {
	font-size: 12px;
}
/*end*/

/* Calendar Extra */
.CalendarEvent{
	font-size: 12px;
	text-align: left;
	}



/*ie6*/
* html body .CalendarEvent {
	font-size: 12px;
}
/*end*/

.CalendarEvent a:link {
	color: #974300;
	}

.CalendarEvent a:visited{
	color: #000000;
	}

.CalendarEvent a:hover, .CalendarEvent a:active{
	color: #c70000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.th { 
	font-family: Arial; font-size: 12px;
	font-weight: bold;
}



/*ie6*/
* html body .th {
	font-size: 100%;
}
/*end*/

.Header .th { 
	font-size: 24px; text-align: left;
	padding: 5px;
	background-image: url('Images/HeaderBg.gif'); background-color: #eff0f7; color: #000000;
	width: 100%;
	white-space: nowrap;
}



/*ie6*/
* html body .Header .th {
	font-size: 24px; text-align: left;
}
/*end*/

.Caption .th { 
	font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
}



/*ie6*/
* html body .Caption .th {
	font-size: 14px; text-align: left; vertical-align: top;
}
/*end*/

.Row .th { 
	font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRow .th { 
	font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.Controls .th { 
	font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaption .th {
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
}



/*ie6*/
* html body .GroupCaption .th {
	font-size: 12px;
}

* html body .Row .th, * html body .AltRow .th, * html body .Controls .th {
	font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenu td {
	font-size: 12px;
}



/*ie6*/
* html body .simpleMenu td {
	font-size: 12px;
} 
/*end*/

.Sorter img, .Navigator img {
	border:0;
}

.MainTable .Header img, .MainTable .Header td {
	padding-left: 0;padding-right: 0;margin:0;
}