/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorENLACE5 {
	background-color: #fcfcfc;
	}

.FormTitleBgColorENLACE5 {
	background-color: #eff0f7;
	}

.FormTitleFontColorENLACE5 {
	color: #31305a;
	}

.CaptionBgColorENLACE5 {
	background-color: #eff0f7;
	}

.CaptionFontColorENLACE5 {
	color: #979bb2;
	}

.DataBgColorENLACE5 {
	background-color: #fcfcfc;
	}

.AltDataBgColorENLACE5 {
	background-color: #f0f0f0;
	}

.DataFontColorENLACE5 {
	color: #000000;
	}

.LinkColorENLACE5 {
	color: #974300;
	}

.VisitedLinkColorENLACE5 {
	color: #000000;
	}

.HoverLinkColorENLACE5 {
	color: #c70000;
	}

.ColorBgButtonENLACE5 {
	background-color: #1851f3;
}

.ColorFontButtonENLACE5 {
	color: #fcfcfc;
}

.ColorBgButtonPassiveENLACE5 {
	background-color: #31305a;
}

.ColorFontButtonPassiveENLACE5 {
	color: #fcfcfc;
}



.HeaderENLACE5 {
	width: 100%;
	}

.HeaderENLACE5 th { 
	font-family: Arial; font-size: 24px; text-align: left;
	padding: 5px;
	background-image: url('Images/HeaderBg.gif'); background-color: #eff0f7; color: #000000;
	width: 100%;
	white-space: nowrap;
	padding-left: 8px;
	}


html>body .HeaderENLACE5 th {
	font-family: Arial; font-size: 24px; text-align: left;
}


/*ie6*/
* html body .HeaderENLACE5 th {
	font-family: Arial; font-size: 24px; text-align: left;
}
/*end*/

.HeaderENLACE5 a:link { 
	color: #000000;
	}

.HeaderENLACE5 a:visited { 
	color: #000000;
	}

.HeaderENLACE5 a:hover, .CaptionENLACE5 a:active { 
	color: #000000; text-decoration: none;
	}

.HeaderLeftENLACE5 { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightENLACE5 { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftENLACE5 img{
	width: 1px;
	}

.HeaderRightENLACE5 img{
	width: 1px;
	}


/* Grid Options */
.GridENLACE5 { 
	border-left: 1px solid #eff0f7; border-bottom: 1px solid #eff0f7;
	width: 100%;
	}

.CaptionENLACE5 th { 
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	}

.CaptionENLACE5 td { 
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	}


html>body .CaptionENLACE5 th, html>body .CaptionENLACE5 td {
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionENLACE5 th, * html body .CaptionENLACE5 td {
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
}
/*end*/

.CaptionENLACE5 a:link { 
	color: #000000;
	}

.CaptionENLACE5 a:visited { 
	color: #000000;
	}

.CaptionENLACE5 a:hover, .CaptionENLACE5 a:active { 
	color: #c70000;
	}

.CaptionENLACE5 img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionENLACE5 input {
	vertical-align: middle;
	}

.RowENLACE5 th { 
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowENLACE5 td { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	background-color: #fcfcfc; 
	color: #000000;
	}
	

html>body .RowENLACE5 th, html>body .RowENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .RowENLACE5 th, * html body .RowENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

caption.RowENLACE5 { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border: 1px solid #eff0f7; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #fcfcfc; 
	color: #000000;
	}


html>body caption.RowENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body caption.RowENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.RowENLACE5 a:link { 
	color: #974300;
	}

.RowENLACE5 a:visited { 
	color: #000000;
	}

.RowENLACE5 a:hover, .RowENLACE5 a:active { 
	color: #c70000;
	}

.SeparatorENLACE5{
	color: #eff0f7;
	}

.SeparatorENLACE5 td{
	height: 1px;
	}


.AltRowENLACE5 th { 
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowENLACE5 td { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	background-color: #f0f0f0; 
	color: #000000;
	}


html>body .AltRowENLACE5 th, html>body .AltRowENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .AltRowENLACE5 th, * html body .AltRowENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.AltRowENLACE5 a:link { 
	color: #974300;
	}

.AltRowENLACE5 a:visited { 
	color: #000000;
	}

.AltRowENLACE5 a:hover, .AltRowENLACE5 a:active { 
	color: #c70000;
	}

.NoRecordsENLACE5 td { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	background-color: #fcfcfc; 
	color: #000000;
	vertical-align: top;
	}

.FooterENLACE5 td { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .NoRecordsENLACE5 td, html>body .FooterENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .NoRecordsENLACE5 td, * html body .FooterENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.FooterENLACE5 a:link { 
	color: #974300;
	}

.FooterENLACE5 a:visited { 
	color: #000000;
	}

.FooterENLACE5 a:hover, .FooterENLACE5 a:active { 
	color: #c70000;
	}

.FooterENLACE5 img {
	border: 0px;
	margin: 2px; 
	vertical-align: middle;
	}

.FooterENLACE5 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordENLACE5 { 
	border-left: 1px solid #eff0f7; border-bottom: 1px solid #eff0f7;
	width: 100%;
	}

.ErrorENLACE5 td { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #fcfcfc; 
	}


* html>body .ErrorENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .ErrorENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.ControlsENLACE5 th { 
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsENLACE5 td { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	background-color: #fcfcfc; 
	color: #000000;
	}

.ControlsENLACE5 .CaptionENLACE5 th {
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	font-weight: bold;
	white-space: nowrap;
	}	
.BottomENLACE5 td { 
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .ControlsENLACE5 th, html>body .ControlsENLACE5 td, html>body .BottomENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .ControlsENLACE5 th, * html body .ControlsENLACE5 td, * html body .BottomENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.BottomENLACE5 a:link { 
	color: #974300;
	}

.BottomENLACE5 a:visited { 
	color: #000000;
	}

.BottomENLACE5 a:hover, .CaptionENLACE5 a:active { 
	color: #c70000;
	}

.BottomENLACE5 img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomENLACE5 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionENLACE5 th{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
	}

.GroupCaptionENLACE5 td{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #fcfcfc; 
	color: #000000;
	}


html>body .GroupCaptionENLACE5 th, html>body .GroupCaptionENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .GroupCaptionENLACE5 th, * html body .GroupCaptionENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.GroupCaptionENLACE5 a:link {
	color: #000000;
	}

.GroupCaptionENLACE5 a:visited{
	color: #000000;
	}

.GroupCaptionENLACE5 a:hover, .GroupCaptionENLACE5 a:active{
	color: #c70000;
	}

.GroupFooterENLACE5 td{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #eff0f7; 
	color: #000000;
	}


html>body .GroupFooterENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .GroupFooterENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.GroupFooterENLACE5 a:link {
	color: #974300;
	}

.GroupFooterENLACE5 a:visited{
	color: #000000;
	}

.GroupFooterENLACE5 a:hover, .GroupFooterENLACE5 a:active{
	color: #c70000;
	}

.GroupFooterENLACE5 img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterENLACE5 input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalENLACE5 td{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
	border-bottom: 2px solid #eff0f7;
	}


html>body .SubTotalENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .SubTotalENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.SubTotalENLACE5 a:link {
	color: #974300;
	}

.SubTotalENLACE5 a:visited{
	color: #000000;
	}

.SubTotalENLACE5 a:hover, .SubTotalENLACE5 a:active{
	color: #c70000;
	}

.TotalENLACE5 td{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
	}


html>body .TotalENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .TotalENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

.TotalENLACE5 a:link {
	color: #974300;
	}

.TotalENLACE5 a:visited{
	color: #000000;
	}

.TotalENLACE5 a:hover, .TotalENLACE5 a:active{
	color: #c70000;
	}

/* Form Options */
.ButtonENLACE5 { 
	background-color: #1851f3; color: #fcfcfc; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 12px;
	}

/* Calendar */

.CalendarENLACE5 { 
	border: 1px solid #eff0f7;
	width: 100%;
	}

.CalendarWeekdayNameENLACE5{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #f0f0f0; 
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekdayNameENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarWeekdayNameENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarWeekdayNameENLACE5 a:link {
	color: #974300;
	}

.CalendarWeekdayNameENLACE5 a:visited{
	color: #000000;
	}

.CalendarWeekdayNameENLACE5 a:hover, .CalendarWeekdayNameENLACE5 a:active{
	color: #c70000;
	}

.CalendarWeekendNameENLACE5{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #f0f0f0;	
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekendNameENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarWeekendNameENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarWeekendNameENLACE5 a:link {
	color: #000000;
	}

.CalendarWeekendNameENLACE5 a:visited{
	color: #000000;
	}

.CalendarWeekendNameENLACE5 a:link, .CalendarWeekendNameENLACE5 a:visited{
	color: #c70000;
	}

/* Calendar Day */
.CalendarDayENLACE5{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #000000;
	}


html>body .CalendarDayENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarDayENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarDayENLACE5 a:link {
	color: #974300;
	}

.CalendarDayENLACE5 a:visited{
	color: #000000;
	}

.CalendarDayENLACE5 a:hover, .CalendarDayENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Weekend */
.CalendarWeekendENLACE5{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #f0f0f0;	
	color: #000000;
	}


html>body .CalendarWeekendENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarWeekendENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarWeekendENLACE5 a:link {
	color: #974300;
	}

.CalendarWeekendENLACE5 a:visited{
	color: #000000;
	}

.CalendarWeekendENLACE5 a:hover, .CalendarWeekendENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Today */
.CalendarTodayENLACE5 {
	font-family: Arial; font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #000000;
	}


html>body .CalendarTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarTodayENLACE5 a:link {
	color: #974300;
	}

.CalendarTodayENLACE5 a:visited{
	color: #000000;
	}

.CalendarTodayENLACE5 a:hover, .CalendarTodayENLACE5 a:active {
	color: #c70000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayENLACE5 {
	font-family: Arial; font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	background-color: #f0f0f0;	
	color: #000000;
	}


html>body .CalendarWeekendTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarWeekendTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarWeekendTodayENLACE5 a:link {
	color: #974300;
	}

.CalendarWeekendTodayENLACE5 a:visited{
	color: #000000;
	}

.CalendarWeekendTodayENLACE5 a:hover, .CalendarWeekendTodayENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayENLACE5{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #eff0f7;
	}


html>body .CalendarOtherMonthDayENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarOtherMonthDayENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarOtherMonthDayENLACE5 a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthDayENLACE5 a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthDayENLACE5 a:hover, .CalendarOtherMonthDayENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayENLACE5 {
	font-family: Arial; font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	background-color: #fcfcfc;	
	color: #eff0f7;
	}


html>body .CalendarOtherMonthTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarOtherMonthTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarOtherMonthTodayENLACE5 a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthTodayENLACE5 a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthTodayENLACE5 a:hover, .CalendarOtherMonthTodayENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendENLACE5 {
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: center;
	background-color: #f0f0f0;	
	color: #eff0f7;
	}


html>body .CalendarOtherMonthWeekendENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarOtherMonthWeekendENLACE5 a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthWeekendENLACE5 a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthWeekendENLACE5 a:hover, .CalendarOtherMonthWeekendENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayENLACE5 {
	font-family: Arial; font-size: 12px;
	padding: 3px;
	border-top: 3px solid #eff0f7; border-right: 3px solid #eff0f7; border-left: 2px solid #eff0f7; border-bottom: 2px solid #eff0f7;
	text-align: center;
	color: #eff0f7;
	background-color: #f0f0f0;	
	}
	

html>body .CalendarOtherMonthWeekendTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarOtherMonthWeekendTodayENLACE5 a:link {
	color: #eff0f7;
	}

.CalendarOtherMonthWeekendTodayENLACE5 a:visited{
	color: #eff0f7;
	}

.CalendarOtherMonthWeekendTodayENLACE5 a:hover, .CalendarOtherMonthWeekendTodayENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayENLACE5{
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #eff0f7;
	color: #979bb2;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDayENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarSelectedDayENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarSelectedDayENLACE5 a:link {
	color: #000000;
	}

.CalendarSelectedDayENLACE5 a:visited{
	color: #000000;
	}

.CalendarSelectedDayENLACE5 a:hover, .CalendarSelectedDayENLACE5 a:active{
	color: #c70000;
	}

/* Calendar Navigator */
.CalendarNavigatorENLACE5 {
	font-family: Arial; font-size: 12px;
	padding: 5px;
	background-color: #fcfcfc; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .CalendarNavigatorENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarNavigatorENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarNavigatorENLACE5 a:link {
	color: #974300;
	}

.CalendarNavigatorENLACE5 a:visited{
	color: #000000;
	}

.CalendarNavigatorENLACE5 a:hover, .CalendarNavigatorENLACE5 a:active{
	color: #c70000;
	}

.CalendarNavigatorENLACE5 img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorENLACE5 td {
	font-family: Arial; font-size: 12px;
	}

.CalendarNavigatorENLACE5 th {
	font-family: Arial; font-size: 12px;
	}


html>body .CalendarNavigatorENLACE5 th, html>body .CalendarNavigatorENLACE5 td {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarNavigatorENLACE5 th, * html body .CalendarNavigatorENLACE5 td {
	font-family: Arial; font-size: 12px;
}
/*end*/

/* Calendar Extra */
.CalendarEventENLACE5{
	font-family: Arial; font-size: 12px;
	text-align: left;
	}


html>body .CalendarEventENLACE5 {
	font-family: Arial; font-size: 12px;
}


/*ie6*/
* html body .CalendarEventENLACE5 {
	font-family: Arial; font-size: 12px;
}
/*end*/

.CalendarEventENLACE5 a:link {
	color: #974300;
	}

.CalendarEventENLACE5 a:visited{
	color: #000000;
	}

.CalendarEventENLACE5 a:hover, .CalendarEventENLACE5 a:active{
	color: #c70000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thENLACE5 { 
	font-family: Arial; font-size: 12px;
	font-weight: bold;
}


html>body .thENLACE5 {
	font-size: 100%;
}


/*ie6*/
* html body .thENLACE5 {
	font-size: 100%;
}
/*end*/

.HeaderENLACE5 .thENLACE5 { 
	font-family: Arial; font-size: 24px; text-align: left;
	padding: 5px;
	background-image: url('Images/HeaderBg.gif'); background-color: #eff0f7; color: #000000;
	width: 100%;
	white-space: nowrap;
}


html>body .HeaderENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 24px; text-align: left;
}


/*ie6*/
* html body .HeaderENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 24px; text-align: left;
}
/*end*/

.CaptionENLACE5 .thENLACE5 { 
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
}


html>body .CaptionENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 14px; text-align: left; vertical-align: top;
}
/*end*/

.RowENLACE5 .thENLACE5 { 
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowENLACE5 .thENLACE5 { 
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsENLACE5 .thENLACE5 { 
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	background-color: #fcfcfc; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 12px;
	padding: 5px;
	border-top: 1px solid #eff0f7; border-right: 1px solid #eff0f7;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0; 
	color: #000000;
}


html>body .GroupCaptionENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 12px;
}

html>body .RowENLACE5 .thENLACE5, html>body .AltRowENLACE5 .thENLACE5, html>body .ControlsENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaptionENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 12px;
}

* html body .RowENLACE5 .thENLACE5, * html body .AltRowENLACE5 .thENLACE5, * html body .ControlsENLACE5 .thENLACE5 {
	font-family: Arial; font-size: 12px; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuENLACE5 td {
	font-family: Arial; font-size: 12px;
}


html>body .simpleMenuENLACE5 td {
	font-family: Arial; font-size: 12px;
} 


/*ie6*/
* html body .simpleMenuENLACE5 td {
	font-family: Arial; font-size: 12px;
} 
/*end*/

.SorterENLACE5 img, .NavigatorENLACE5 img {
	border:0;
}

.MainTable .HeaderENLACE5 img, .MainTable .HeaderENLACE5 td {
	padding-left: 0;padding-right: 0;margin:0;
}