﻿@using WebCilindros.Models

@model MdlContendor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecepcionDet</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body style="background-color:@System.Configuration.ConfigurationManager.AppSettings["BackApp"]">

    <form method="POST">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-bordered table-responsive table-striped" style="width:470px;">
            <tr>
                <th valign="top" colspan="2" style="background-color:#f9f9f9;">
                    Recepción @Model.recepcion
                    @Html.HiddenFor(m => m.recepcion)
                </th>
            </tr>
            <tr>
                <th style="background-color:#fff;">
                    @Html.LabelFor(m => m.contenedor, new { @class = "col-md-2 control-label" })
                    @*<label for="contenedor" style="margin-bottom:0;">Contenedor</label>*@
                </th>
                <td style="background-color:#fff;">
                    @Html.TextBoxFor(m => m.contenedor, new { @size = "45", @style = "max-width:400px;" })
                    @Html.ValidationMessageFor(m => m.contenedor, "", new { @class = "text-danger" })
                    @*<input id="contenedor" name="contenedor" />*@
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#f9f9f9;">
                    <button type="submit" class="btn btn-primary" style="width:100%">Agregar</button>
                </td>
            </tr>
        </table>
    </form>

    <form method="POST" action="@Url.Content("~/RecepcionDetalle/Terminar")">
        <table class="table table-bordered table-responsive table-striped" style="width:470px;">
            <tr>
                <th valign="top" style="background-color:#f9f9f9;">
                    Contenedores
                </th>
            </tr>
            <tr>
                <td style="background-color:#fff;">
                    <table width="100%" class="table table-bordered table-responsive table-striped">
                        <tr>
                            <th>CYLNUMERO</th>
                            <th>CYLCODBARRAS</th>
                            <th></th>
                        </tr>
                        @if (ViewBag.DetalleRecepcion != null)
                        {
                            foreach (var item in ViewBag.DetalleRecepcion)
                            {
                                <tr>
                                    <td>@item.CYLNUMERO</td>
                                    <td>@item.CYLCODBARRAS</td>
                                    <td align="center">
                                        @{
                                            var link = Url.Content("~/RecepcionDetalle/Borrar?linea=") + item.RECEPCION_LINEA;
                                        }
                                        <a class="btn btn-primary" style="width:73%;background-color:#ffcdd2;color:#000;" href="@link">Borrar</a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;">
                    <button type="submit" class="btn btn-primary" style="width:100%;background-color:#ffde03;color:#000;">Terminar</button>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
