﻿@using WebCilindros.Models

@model MdlSegundoDetalle

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SegundoDetalle</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body style="background-color:@System.Configuration.ConfigurationManager.AppSettings["BackApp"]">
    <form method="POST">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-bordered table-responsive table-striped" style="width:470px;">
            <tr>
                <th valign="top" colspan="2" style="background-color:#f9f9f9;">
                    Recepción @Model.recepcion
                    @Html.HiddenFor(m => m.recepcion)
                    @Html.HiddenFor(m => m.contenedor)
                    @Html.HiddenFor(m => m.linea)

                </th>
            </tr>
            <tr>
                <th style="background-color:#fff;">
                    N° Contenedor
                </th>
                <td style="background-color:#fff;">
                    @Model.contenedor
                </td>
            </tr>

            <tr>
                <th style="background-color:#f9f9f9;">
                    @Html.LabelFor(m => m.capuchon, new { @class = "control-label" })
                </th>
                <td style="background-color:#f9f9f9;">

                    @Html.RadioButtonFor(m => m.capuchon, "0", new {@id= "capuchonNO" }) <label for="capuchonNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.capuchon, "1", new { @id = "capuchonSI" }) <label for="capuchonSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.capuchon, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#fff;">
                    @Html.LabelFor(m => m.tapon, new { @class = "control-label" })
                </th>
                <td style="background-color:#fff;">
                    @Html.RadioButtonFor(m => m.tapon, "0", new { @id = "taponNO" }) <label for="taponNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.tapon, "1", new { @id = "taponSI" }) <label for="taponSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.tapon, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#f9f9f9;">
                    @Html.LabelFor(m => m.valvula, new { @class = "control-label" })
                </th>
                <td style="background-color:#f9f9f9;">
                    @Html.RadioButtonFor(m => m.valvula, "0", new { @id = "valvulaNO" }) <label for="valvulaNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.valvula, "1", new { @id = "valvulaSI" }) <label for="valvulaSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.valvula, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#fff;">
                    @Html.LabelFor(m => m.danovalvula, new { @class = "control-label" })
                </th>
                <td style="background-color:#fff;">
                    @Html.RadioButtonFor(m => m.danovalvula, "0", new { @id = "danovalvulaNO" }) <label for="danovalvulaNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.danovalvula, "1", new { @id = "danovalvulaSI" }) <label for="danovalvulaSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.danovalvula, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#f9f9f9;">
                    @Html.LabelFor(m => m.corrosion, new { @class = "control-label" })
                </th>
                <td style="background-color:#f9f9f9;">
                    @Html.RadioButtonFor(m => m.corrosion, "0", new { @id = "corrosionNO" }) <label for="corrosionNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.corrosion, "1", new { @id = "corrosionSI" }) <label for="corrosionSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.corrosion, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#fff;">
                    @Html.LabelFor(m => m.cortes, new { @class = "control-label" })
                </th>
                <td style="background-color:#fff;">
                    @Html.RadioButtonFor(m => m.cortes, "0", new { @id = "cortesNO" }) <label for="cortesNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.cortes, "1", new { @id = "cortesSI" }) <label for="cortesSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.cortes, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#f9f9f9;">
                    @Html.LabelFor(m => m.abolladuras, new { @class = "control-label" })
                </th>
                <td style="background-color:#f9f9f9;">
                    @Html.RadioButtonFor(m => m.abolladuras, "0", new { @id = "abolladurasNO" }) <label for="abolladurasNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.abolladuras, "1", new { @id = "abolladurasSI" }) <label for="abolladurasSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.abolladuras, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#fff;">
                    @Html.LabelFor(m => m.protuberancias, new { @class = "control-label" })
                </th>
                <td style="background-color:#fff;">
                    @Html.RadioButtonFor(m => m.protuberancias, "0", new { @id = "protuberanciasNO" }) <label for="protuberanciasNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.protuberancias, "1", new { @id = "protuberanciasSI" }) <label for="protuberanciasSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.protuberancias, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#f9f9f9;">
                    @Html.LabelFor(m => m.danofuego, new { @class = "control-label" })
                </th>
                <td style="background-color:#f9f9f9;">
                    @Html.RadioButtonFor(m => m.danofuego, "0", new { @id = "danofuegoNO" }) <label for="danofuegoNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.danofuego, "1", new { @id = "danofuegoSI" }) <label for="danofuegoSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.danofuego, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#fff;">
                    @Html.LabelFor(m => m.abrasion, new { @class = "control-label" })                    
                </th>
                <td style="background-color:#fff;">
                    @Html.RadioButtonFor(m => m.abrasion, "0", new { @id = "abrasionNO" }) <label for="abrasionNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.abrasion, "1", new { @id = "abrasionSI" }) <label for="abrasionSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.abrasion, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th style="background-color:#f9f9f9;">                    
                    @Html.LabelFor(m => m.danorosca, new { @class = "control-label" })
                </th>
                <td style="background-color:#f9f9f9;">
                    @Html.RadioButtonFor(m => m.danorosca, "0", new { @id = "danoroscaNO" }) <label for="danoroscaNO">No&nbsp;&nbsp;&nbsp;</label>
                    @Html.RadioButtonFor(m => m.danorosca, "1", new { @id = "danoroscaSI" }) <label for="danoroscaSI">Si&nbsp;&nbsp;&nbsp;</label>

                    @Html.ValidationMessageFor(m => m.danorosca, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td style="background-color:#fff;">
                    @Html.LabelFor(m => m.observacion, new { @class = "control-label" })                    
                </td>
                <td style="background-color:#fff;">
                    @Html.TextAreaFor(m => m.observacion, new { @rows = "3", @cols = "35" })                    
                </td>
            </tr>

            <tr>
                <td colspan="2" style="background-color:#f9f9f9;">
                    <button type="submit" class="btn btn-primary" style="width:100%">Enviar</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
