﻿@{
    ViewBag.Title = "Test";
}

<h2>@ViewBag.Title</h2>

@section Scripts {
    <script type="text/javascript">
        function abrirVentana() {
            var url = './Upload/?proc=000002&lin=2&cat01=C42DIAS&cat02=Macro C42Dias&usr=CLERK01&BD=InfoNatura';
            window.open(url, 'UploadWindow', 'width=600, height=600');
        }
    </script>
}
<button onclick="abrirVentana();">Adjuntar</button>